.image0, .image1, .image2, .image3, .image4,.image5, .image6 {
  width: 120px;
  height: 164px;
  background: url('../images/sprite.png');
  background-position: 0px 0px;
}

.image1{
  background-position: -120px 0px;
}
.image2{
  background-position: -240px 0px;
}
.image3{
  background-position: -360px 0px;
}
.image4{
  background-position: -480px 0px;
}
.image5{
  background-position: -600px 0px;
}
.image6{
  background-position: -720px 0px;
}

/* .button-grid{
  display:grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(13,50px);
  grid-template-rows: minmax(50px, auto) repeat(2,50px);
}

.button-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(205, 214, 208, .75);
}

.button-grid > button:hover {
  background-color: rgba(205, 214, 208, .90);
} */

body{
  background-color: grey;
}